body {
  height: 100vh;
}

#root {
  height: 100vh;
}

/* video background */

#nw-background-video {
  object-fit: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}
#nw-bg-video-wrapper {
  /* adding overlay on bg video */
  box-shadow: inset 0 0 0 2000px rgb(34 35 39 / 80%);
  z-index: -1;
  overflow-x: hidden;
  height: 100vh;
}

/* navigation */

#nw-navigation {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  #nw-navigation {
    display: block;
  }
  #nw-navigation .home-column {
    width: 100%;
  }
  #nw-navigation .nw-nav-column {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

#nw-navigation .nw-nav-column {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}

.nw-nav-column a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in-out;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 2.5vmin;
}
.nw-nav-column a:hover {
  color: #9e78fb;
  text-shadow: 1px 1px 1px white;
  letter-spacing: 1px;
  font-weight: bold;
}

#nw-logo-home-link {
  height: 175px;
}
#nw-logo-home-link {
  transition: 0.3s ease-in-out;
  transition-delay: 20ms;
}
#nw-logo-home-link:hover {
  transform: scale(1.2);
}
#nw-logo-home-link:active {
  transform: scale(0.9);
}

/* utilities */
.one-third-w {
  width: 33%;
}
.one-half-w {
  width: 50%;
}
.full-w {
  width: 100%;
}

/* icons */
.nw-social-icons {
  display: flex;
}
.nw-social-icons i {
  color: rgb(158, 120, 251);
  font-weight: bold;
  margin: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-size: 3.5vmin;
}
.nw-social-icons i:hover {
  color: rgb(241, 175, 12);
  transform: scale(1.5);
}
