html {
  height: 100vh;
}
body {
  height: 100%;
}

#root {
  height: 100%;
}

/* video background */

#nw-background-video {
  object-fit: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}
#nw-bg-video-wrapper {
  /* adding overlay on bg video */
  box-shadow: inset 0 0 0 2000px rgb(34 35 39 / 80%);
  z-index: -1;
  overflow-x: hidden;
  height: 100vh;
}

/* navigation */

#nw-navigation {
  display: flex;
  align-items: center;
}

#nw-logo-home-link {
  height: 175px;
}
#nw-logo-home-link {
  transition: 0.3s ease-in-out;
  transition-delay: 20ms;
}
#nw-logo-home-link:hover {
  transform: scale(1.2);
}
#nw-logo-home-link:active {
  transform: scale(0.9);
}

/* utilities */
.one-third-w {
  width: 33%;
}
.one-half-w {
  width: 50%;
}
.full-w {
  width: 100%;
}
